/*----------------google fonts-----------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
 *{
    font-family: 'Work Sans', sans-serif;
 }
.btn-praimery{
    background-color: #ff900e;
    border: none;
    padding: 18px 25px;
    border-radius: 8px;
    color:#fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.disc{
    color: #555;
    line-height: 1.8rem;
 }

 header{
    background-color: #ff900e1a;
    padding: 50px 240px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .section-title{
    font-size: 2.5rem;
    font-weight: 700;
    color:#030202;
 }
 nav > ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
 }
 nav a{
    text-decoration: none;
    color:#030202;
 }
 .banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }
 .banner-title{
    font-size: 3rem;
    font-weight: 700;
    color:#030202;
 }
 
.banner img{
    width: 100%;
    margin-top: 20px;
}

main{
  margin: 70px auto;
}
/*-------------teams section----------*/
.teams-container{
    
    display: flex;
    align-items: center;
    padding: 50px 240px;
}
.teams-img-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.teams-img-container img{
    width: 100%;
}
.teams-contant{
    width: 50%;
    padding-left: 70px;
    
}
.teams-title{
    font-size: 2rem;
}
.quick{
    color:#727272;
    font-weight: 500;
}
.feature{
    color:#ff900e;
}


/*---------------features section-------------*/
.features-container{
   padding: 50px 240px;
   display: flex;
   gap: 100Px;
}
.title{
   margin-top: 0;
   margin-bottom: 0;
   font-size: 2rem;
   font-weight: 700;
   color:#030202;
   padding-left: 20px;
   border-left: 5px solid #ff900e;
}
.feature-contant{
   width: 50%;
}
.feature-contant .card{
   padding: 10px;
   margin-bottom: 10px;
   box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
}

.feature-img{
   width: 50%;
   height: auto;
   
}
.feature-img img{
   width: 100%;
}

.ten-years-badge{
   background-color: #ff900e;
   border-radius: 8px;
   color:#fff;
   padding: 20px;
   width: 140px;
   text-align: center;
   position: relative;
   bottom:50px;
   left: -40px;
}
.ten-years-badge h2{
   font-size: 1.25rem;
   margin-top: 0;
}
.ten-years-badge p{
   margin-bottom: 0;
   font-size: 1rem;
   font-weight: 500;
}


/*----------------facts section--------------*/

.facts{
   padding: 50px 240px;
}
.card-container{
   display: flex;
   justify-content: space-around;
}
.card-container .card{
   border: 1px solid #ff900e;
   border-radius: 8px;
   text-align: center;
   padding: 20px;
}
.card-container .stats{
   font-size: 2.5rem;
   font-weight: 700;
   color:#474545;
   margin-top:15px ;
   margin-bottom: 15px;
}
.card-container .card-title{
   font-weight: 600;
   font-size: 1.25rem;
   color:#727272;
}

/*---------------sponsors section----------------*/
.sponsors{
   padding:50px 240px;
   text-align: center;
}
.sponsors-img-container img{
   width:15%;
}
.sponsors-img-container{
   margin-top: 20px;
   display: flex;
   justify-content: space-evenly;
}

footer{
 background-color: #ff900e1a; 
 text-align: center;
 padding: 15px;
}
footer p{
   font-size: 20px;
   font-weight: 500;
   color:#555;
}








/*------------responsive-----------------*/
@media screen and (max-width:576px) {
    header, .teams-container,
    .facts,
    .sponsors{
        padding: 20px;
     }
     .features-container{
      padding: 80px 20px 10px;
      
   }
     nav, .teams-container,
     .card-container,
     .features-container{
        flex-direction: column;
     }
    .teams-img-container{
     grid-template-columns: 1fr;
    }
    .teams-contant{
        width: 100%;
     }
     .card-container{
      gap:20px;
     }
     .feature-contant{
      width: 100%;
   }
   .feature-img{
      width: 100%;
   }
}



@media screen and (min-width:576px) and (max-width:992px) {
    header,.teams-container,
    .facts,
    .sponsors{
        padding: 50px;
     }

     .features-container{
      padding:80px 100px 10px;
   }
     nav, .teams-container,
     .features-container{
        flex-direction: column;
     }
     .card-container{
      flex-wrap: wrap;
     }
     .teams-contant{
        width: 100%;
     }
     .card-container{
      gap:20px;
     }
     .feature-contant{
      width: 100%;
   }
   .feature-img{
      width: 100%;
   }
}




@media screen and (min-width:992px) and (max-width:1200px) {
    header,.teams-container,
     .facts, .sponsors{
        padding: 80px;
     }
     .features-container{
      padding: 100px;
     }
     nav .teams-container{
        flex-direction: column;
     }
     .teams-contant{
        width: 100%;
     }
     .features-container{
      align-items: center;
     }
}

